<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negotiation Simulator</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="container mt-4">
        <div class="row">
            <!-- Buyer Column -->
            <div class="col-md-3">
                <div class="border p-3 d-flex justify-content-between">
                    <h4>Buyers</h4>
                    <button class="btn btn-primary" id="add-buyer">+</button>
                </div>
                <div class="border p-3">
                    <ul id="buyer-list" class="list-group">
                        <!-- Contains list of buyers -->
                        {% for buyer in buyers %}
                            <div class="card mb-3">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <input type="radio" name="selected_buyer" value="{{ buyer.id }}" id="buyer-{{ buyer.id }}">
                                    <label for="buyer-{{ buyer.id }}" style="cursor: pointer;">{{ buyer.name }}</label>
                                    
                                    <i class="bi bi-pencil text-primary edit-buyer-icon" data-id="{{ buyer.id }}" style="cursor: pointer;"></i>
                                    <i class="bi bi-trash text-danger remove-buyer-icon" data-id="{{ buyer.id }}" style="cursor: pointer;"></i>
                                
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Output Column -->
            <div class="col-md-6 border p-3">
                <h4>Negotiation Log</h4>
                <div id="log" class="border rounded bg-light p-2" style="height: 300px; overflow-y: scroll;">
                    <!-- Contains logs output -->
                    {% for log in logs %}
                        <p>{{ log }}</p>
                    {% endfor %}
                </div>
                <div class="mt-4">
                    <button id="clear-logs-btn" class="btn btn-danger" onclick="window.location.href='/'">Clear Logs</button>
                    <button id="negotiate-btn" class="btn btn-primary" >Start Negotiation</button>
                </div>
            </div>


            <!-- Supplier Column -->
            <div class="col-md-3">
                <div class="border p-3 d-flex justify-content-between">
                    <h4>Supplier's Services</h4>
                    <button class="btn btn-primary" id="add-service-btn">+</button>
                </div>
                <div class="border p-3">
                    <ul id="supplier-list" class="list-group">
                        <!-- Contains list of buyers -->
                        {% for service in supplier.services %}
                            <div data-id="{{ service.id }}" class="card mb-3">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <input type="radio" name="selected_service" value="{{ service.id }}" id="service-{{ service.id }}">
                                    <label for="service-{{ service.id }}" style="cursor: pointer;">{{ service.name }}</label>
                                    
                                    <i class="bi bi-pencil text-primary edit-service-icon" data-id="{{ service.id }}" style="cursor: pointer;"></i>
                                    
                                    <i class="bi bi-trash text-danger remove-service-icon" data-id="{{ service.id }}"
                                       style="cursor: pointer;"></i>
                                    
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Buyer Model -->
    <div class="modal fade" id="addBuyerModal" tabindex="-1" aria-labelledby="addBuyerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBuyerModalLabel">Add New Buyer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-buyer-form" method="POST" action="/buyer/add">
                        <div class="mb-3">
                            <label for="buyer_name" class="form-label">Buyer Name</label>
                            <input type="text" class="form-control" id="buyer_name" name="buyer_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="preferred_company" class="form-label">Preferred Companies</label>
                            <input type="text" class="form-control" id="preferred_company" name="preferred_company" required>
                        </div>
                        <div class="mb-3">
                            <label for="destination" class="form-label">Destination</label>
                            <input type="text" class="form-control" id="destination" name="destination" required>
                        </div>
                        <div class="mb-3">
                            <label for="offer" class="form-label">Offered Price</label>
                            <input type="text" class="form-control" id="offer" name="offer" required>
                        </div>

                        <div class="mb-3">
                            <label for="buyer-budget" class="form-label">Budget</label>
                            <input type="number" class="form-control" id="buyer-budget" name="budget" required>
                        </div>
                        <div class="mb-3">
                            <label for="buyer-max-price" class="form-label">Max Price</label>
                            <input type="number" class="form-control" id="buyer-max-price" name="max_price" required>
                        </div>
                        <div class="mb-3">
                            <label for="buyer_last_date" class="form-label">Latest Date</label>
                            <input type="date" class="form-control" id="buyer-last-date" name="buyer_last_date" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Buyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Service Modal -->
    <div class="modal fade" id="addServiceModal" tabindex="-1" aria-labelledby="addServiceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addServiceModalLabel">Add New Service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-service-form" method="POST" action="/service/add">
                        <div class="mb-3">
                            <label for="service_name" class="form-label">Service Name</label>
                            <input type="text" class="form-control" id="service_name" name="service_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="service_type" class="form-label">Service Type</label>
                            <select class="form-select" id="service_type" name="service_type" required>
                                <option value="flight">flight</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="service_price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="service_price" name="service_price" required>
                        </div>
                        <div class="mb-3">
                            <label for="service_destination" class="form-label">Destination</label>
                            <input type="text" class="form-control" id="service_destination" name="service_destination" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Add Service</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#  Buyer Info Edit Modal  #}
    <div class="modal fade" id="editBuyerModal" tabindex="-1" aria-labelledby="editBuyerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editBuyerModalLabel">Edit Buyer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3">
                    <form id="edit-buyer-form" method="POST" action="/buyer/edit">
                        <div class="mb-3" style="display: none;">
                            <label for="edit-buyer-id" class="form-label">Id</label>
                            <input type="text" class="form-control" id="edit-buyer-id" value="" name="edit-buyer-id">
                        </div>
                        <div class="mb-3">
                            <label for="edit-buyer-name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="edit-buyer-name" value="" name="edit-buyer-name" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit-buyer-preferred-companies" class="form-label">Preferred Companies</label>
                            <input type="text" class="form-control" id="edit-buyer-preferred-companies" value="" name="edit-buyer-preferred-companies" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit-buyer-destination" class="form-label">Destination</label>
                            <input type="text" class="form-control" id="edit-buyer-destination" name="edit-buyer-destination" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit-buyer-offer" class="form-label">Offered Price</label>
                            <input type="text" class="form-control" id="edit-buyer-offer" value="" name="edit-buyer-offer" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit-buyer-budget" class="form-label">Budget</label>
                            <input type="number" class="form-control" id="edit-buyer-budget" value="" name="edit-buyer-budget" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit-buyer-max-price" class="form-label">Max Price</label>
                            <input type="number" class="form-control" id="edit-buyer-max-price" value="" name="edit-buyer-max-price"  required>
                        </div>
                        <div class="mb-3">
                            <label for="edit-buyer-latest-date" class="form-label">Latest Date</label>
                            <input type="date" class="form-control" id="edit-buyer-latest-date" value="" name="edit-buyer-latest-date" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#  Service Info Edit Modal  #}
    <div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editServiceModalLabel">Edit Service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3">
                    <form id="edit-service-form" method="POST" action="/service/edit">
                        <div class="mb-3" style="display: none;">
                            <label for="edit-service-id" class="form-label">Id</label>
                            <input type="text" class="form-control" id="edit-service-id" value="" name="edit-service-id">
                        </div>
                        <div class="mb-3">
                            <label for="edit-service-name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="edit-service-name" value="" name="edit-service-name" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit-service-type" class="form-label">Type</label>
                            <select class="form-select" id="edit-service-type" name="edit-service-type" required>
                                <option value="flight">flight</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="edit-service-price" class="form-label">Price</label>
                            <input type = "number" class="form-control" id="edit-service-price" value="" name="edit-service-price" required>
                        </div>
                        <div class="mb-3">
                            <label for="edit-service-destination" class="form-label">Destination</label>
                            <input type="text" class="form-control" id="edit-service-destination" value="" name="edit-service-destination" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Remove Buyer Modal -->
    <div class="modal fade" id="removeBuyerModal" tabindex="-1" aria-labelledby="removeBuyerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeBuyerModalLabel">Remove Buyer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3">
                    <form id="remove-buyer-form" method="POST" action="/buyer/remove">
                        <div class="mb-3" style="display: none;">
                            <label for="remove-buyer-id" class="form-label">Id</label>
                            <input type="text" class="form-control" id="remove-buyer-id" value="" name="remove-buyer-id">
                        </div>
                        <p>Are you sure you want to remove this buyer?</p>
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Remove Service Modal -->
    <div class="modal fade" id="removeServiceModal" tabindex="-1" aria-labelledby="removeServiceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeServiceModalLabel">Remove Service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3">
                    <form id="remove-service-form" method="POST" action="/service/remove">
                        <div class="mb-3" style="display: none;">
                            <label for="remove-service-id" class="form-label">Id</label>
                            <input type="text" class="form-control" id="remove-service-id" value="" name="remove-service-id">
                        </div>
                        <p>Are you sure you want to remove this service?</p>
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script>
        <!--    Retrieve backend variables    -->
        const buyers = {{ buyers | tojson }};
        const supplier = {{ supplier | tojson }};
        const logs = {{ logs | tojson }};
    </script>

    <script>
        // Open Add Buyer Modal
        document.getElementById('add-buyer').addEventListener('click', function () {
            const addBuyerModal = new bootstrap.Modal(document.getElementById('addBuyerModal'));
            addBuyerModal.show();
        });

        // Open Add Service Modal
        document.getElementById('add-service-btn').addEventListener('click', function () {
            const addServiceModal = new bootstrap.Modal(document.getElementById('addServiceModal'));
            addServiceModal.show();
        });

        


        

        // Open Edit Buyer Modal
        const editBuyerModal = new bootstrap.Modal(document.getElementById('editBuyerModal'));
        const editBuyerForm = document.getElementById('edit-buyer-form');
        const editBuyerName = document.getElementById('edit-buyer-name');
        const editBuyerID = document.getElementById('edit-buyer-id');
        const editBuyerOffer = document.getElementById('edit-buyer-offer');
        const editBuyerPreferredCompanies = document.getElementById('edit-buyer-preferred-companies');
        const editBuyerDestination = document.getElementById('edit-buyer-destination');
        const editBuyerBudget = document.getElementById('edit-buyer-budget');
        const editBuyerMaxPrice = document.getElementById('edit-buyer-max-price');
        const editBuyerLatestDate = document.getElementById('edit-buyer-latest-date');

        const openEditBuyerModal = (buyer) => {
            editBuyerName.value = buyer.name;
            editBuyerID.value = buyer.id;
            editBuyerPreferredCompanies.value = buyer.preferences.preferred_company;
            editBuyerDestination.value = buyer.constraints.destination;
            editBuyerOffer.value = buyer.offer;
            editBuyerBudget.value = buyer.preferences.budget;
            editBuyerMaxPrice.value = buyer.constraints.max_price;
            editBuyerLatestDate.value = buyer.constraints.last_date;
            console.log(buyer);
            editBuyerModal.show();
        }

        // Event listener on buyer list
        document.querySelectorAll('#buyer-list .edit-buyer-icon').forEach(card => {
            card.addEventListener('click', function () {
                const buyerID = card.getAttribute('data-id');
                const buyer = buyers.find(buyer => buyer.id === buyerID);
                openEditBuyerModal(buyer);
            });
        });


        // Open Edit Service Modal
        const editServiceModal = new bootstrap.Modal(document.getElementById('editServiceModal'));  
        const editServiceForm = document.getElementById('edit-service-form');
        const editServiceID = document.getElementById('edit-service-id');
        const editServiceName = document.getElementById('edit-service-name');
        const editServiceType = document.getElementById('edit-service-type');
        const editServicePrice = document.getElementById('edit-service-price');
        const editServiceDestination = document.getElementById('edit-service-destination');

        const openEditServiceModal = (service) => {
            editServiceID.value = service.id;
            editServiceName.value = service.name;
            editServiceType.value = service.type;
            editServicePrice.value = service.price;
            editServiceDestination.value = service.destination;
            console.log(service);
            editServiceModal.show();
        }

        // Event listener on service list
        document.querySelectorAll('#supplier-list .edit-service-icon').forEach(card => {
            card.addEventListener('click', function () {
                const serviceID = card.getAttribute('data-id');
                const service = supplier.services.find(service => service.id === serviceID);
                openEditServiceModal(service);
            });
        });




        //Open Remove Service Modal
        const removeServiceModal = new bootstrap.Modal(document.getElementById('removeServiceModal'));
        const removeServiceForm = document.getElementById('remove-service-form');
        const removeServiceID = document.getElementById('remove-service-id');

        const openRemoveServiceModal = (service) => {
            removeServiceID.value = service.id;
            console.log(service);
            removeServiceModal.show();
        }

         // Event listener on service list
         document.querySelectorAll('#supplier-list .remove-service-icon').forEach(card => {
            card.addEventListener('click', function () {
                const serviceID = card.getAttribute('data-id');
                const service = supplier.services.find(service => service.id === serviceID);
                openRemoveServiceModal(service);
            });
        });


        // Open Remove Buyer Modal
        const removeBuyerModal = new bootstrap.Modal(document.getElementById('removeBuyerModal'));
        const removeBuyerForm = document.getElementById('remove-buyer-form');
        const removeBuyerID = document.getElementById('remove-buyer-id');
        

        const openRemoveBuyerModal = (buyer) => {
            removeBuyerID.value = buyer.id;
            console.log(buyer);
            removeBuyerModal.show();
        }

        // Event listener on buyer list
        document.querySelectorAll('#buyer-list .remove-buyer-icon').forEach(card => {
            card.addEventListener('click', function () {
                const buyerID = card.getAttribute('data-id');
                const buyer = buyers.find(buyer => buyer.id === buyerID);
                openRemoveBuyerModal(buyer);
            });
        });
        
        document.getElementById('negotiate-btn').addEventListener('click', function () {
        const selectedBuyerID = document.querySelector('input[name="selected_buyer"]:checked').value;
        const selectedServiceID = document.querySelector('input[name="selected_service"]:checked').value;
        const url = `/negotiate?buyer_id=${selectedBuyerID}&service_id=${selectedServiceID}`;
        window.location.href = url;
    });

        

    </script>
</body>
</html>