<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negotiation Simulator</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="container mt-4">
        <div class="row">
            <!-- Buyer Column -->
            <div class="col-md-3">
                <div class="border p-3 d-flex justify-content-between">
                    <h4>Buyers</h4>
                    <button class="btn btn-primary" id="add-buyer">+</button>
                </div>
                <div class="border p-3">
                    <ul id="buyer-list" class="list-group">
                        <!-- Contains list of buyers -->
                        {% for buyer in buyers %}
                            <div data-id="{{ buyer.name }}" class="card mb-3">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <span style="cursor: pointer;">{{ buyer.name }}</span>
                                    <i class="bi bi-trash text-danger remove-buyer-icon" data-id="{{ buyer.name }}" style="cursor: pointer;"></i>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Output Column -->
            <div class="col-md-6 border p-3">
                <h4>Negotiation Log</h4>
                <div id="log" class="border rounded bg-light p-2" style="height: 300px; overflow-y: scroll;">
                    <!-- Contains logs output -->
                </div>
                <div class="mt-4">
                    <button id="clear-logs-btn" class="btn btn-danger">Clear Logs</button>
                    <button id="negotiate-btn" class="btn btn-primary">Start Negotiation</button>
                </div>
            </div>


            <!-- Supplier Column -->
            <div class="col-md-3">
                <div class="border p-3 d-flex justify-content-between">
                    <h4>Supplier's Services</h4>
                    <button class="btn btn-primary" id="add-service-btn">+</button>
                </div>
                <div class="border p-3">
                    <ul id="buyer-list" class="list-group">
                        <!-- Contains list of buyers -->
                        {% for service in services %}

                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Add Buyer Model -->
    <div class="modal fade" id="addBuyerModal" tabindex="-1" aria-labelledby="addBuyerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBuyerModalLabel">Add New Buyer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="">Name</h5>
                <div class="mb-3">
                    <label for="agent_id" class="form-label">Buyer Name</label>
                    <input type="text" class="form-control" id="agent_id" value="">
                </div>
                <h5 class="">Preferences</h5>
                <div class="mb-3">
                    <label for="buyer-preferred-companies" class="form-label">Preferred Companies</label>
                    <input type="text" class="form-control" id="buyer-preferred-companies" value="">
                </div>
                <div class="mb-3">
                    <label for="buyer-budget" class="form-label">Budget</label>
                    <input type="number" class="form-control" id="buyer-budget" value="">
                </div>

                <h5 class="mt-4">Constraints</h5>
                <div class="mb-3">
                    <label for="buyer-max-price" class="form-label">Max Price</label>
                    <input type="number" class="form-control" id="buyer-max-price" value="">
                </div>
                <div class="mb-3">
                    <label for="buyer-latest-date" class="form-label">Latest Date</label>
                    <input type="date" class="form-control" id="buyer-latest-date" value="">
                </div>
                <button id="add-buyer-btn" class="btn btn-primary mt-3 ">Add</button>
            </div>
        </div>
    </div>
</div>

    <!-- Add Service Modal -->
    <div class="modal fade" id="addServiceModal" tabindex="-1" aria-labelledby="addServiceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addServiceModalLabel">Add New Service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-service-form">
                        <div class="mb-3">
                            <label for="service-type" class="form-label">Service Type</label>
                            <select class="form-select" id="service-type" required>
                                <option value="1">Ticket</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="service-price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="service-price" required>
                        </div>
                        <div class="mb-3">
                            <label for="service-destination" class="form-label">Destination</label>
                            <input type="text" class="form-control" id="service-destination" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Service</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        <!--    Retrieve backend variables    -->
        const buyers = {{ buyers | tojson }};
        const supplier = {{ supplier | tojson }};
        const logs = {{ logs | tojson }};
    </script>

    <script>
        // Open Add Buyer Modal
        document.getElementById('add-buyer').addEventListener('click', function () {
            const addBuyerModal = new bootstrap.Modal(document.getElementById('addBuyerModal'));
            addBuyerModal.show();
        });

        // Open Add Service Modal
        document.getElementById('add-service-btn').addEventListener('click', function () {
            const addServiceModal = new bootstrap.Modal(document.getElementById('addServiceModal'));
            addServiceModal.show();
        });

        // Add Buyer
        document.getElementById('add-buyer-btn').addEventListener('click', function () {
            const buyerName = document.getElementById('agent_id').value;
            const buyerPreferredCompanies = document.getElementById('buyer-preferred-companies').value;
            const buyerBudget = document.getElementById('buyer-budget').value;
            const buyerMaxPrice = document.getElementById('buyer-max-price').value;
            const buyerLatestDate = document.getElementById('buyer-latest-date').value;

            const data = {
                agent_id: buyerName,
                preferred_companies: buyerPreferredCompanies,
                budget: buyerBudget,
                max_price: buyerMaxPrice,
                latest_date: buyerLatestDate
            };

            fetch('/buyer/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Buyer added successfully!');
                    const addBuyerModal = bootstrap.Modal.getInstance(document.getElementById('addBuyerModal'));
                    addBuyerModal.hide();
                } else {
                    alert('Error adding buyer: ' + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        });

        //
        document.getElementById('add-service-form').addEventListener('submit', function (e) {
            e.preventDefault();
            const serviceType = document.getElementById('service-type').value;
            const servicePrice = document.getElementById('service-price').value;
            const serviceDestination = document.getElementById('service-destination').value;

            const data = {
                service_type: serviceType,
                price: servicePrice,
                destination: serviceDestination
            };

            fetch('/service/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Service added successfully!');
                    const addServiceModal = bootstrap.Modal.getInstance(document.getElementById('addServiceModal'));
                    addServiceModal.hide();
                } else {
                    alert('Error adding service: ' + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        });

        const launchNegotiate = () => {
            /**
             * Launch negotiation
             */
            fetch('/negotiate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Negotiation started successfully!');
                    } else {
                        alert('Error starting negotiation: ' + data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

    </script>
</body>
</html>